div{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    background-color: aqua;
    font-size: 20px;
}
.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}